@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
body{ 
    background-color: rgb(255, 255, 255);
    color: black;
  font-family: "Bitcount Prop Single Ink", system-ui; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900;
  margin: 0;
}

button{
  background-color: blueviolet;
  color: black;
  padding: 20px;
}

.img01{
  width: 110%;
}
