@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
body{ 
    background-color: rgb(95, 95, 225);
    color: black;
  font-family: "Bitcount Prop Single Ink", system-ui; 
}
